/webapps/izzy/cases
target/
# Useful suggestions from GitHub for windows

#################
## Eclipse
#################

.metadata
bin/
tmp/
local.properties
.settings/
.project
.classpath

############
## Windows
############

# Windows image file caches
Thumbs.db
Desktop.ini

instantlogic-netty/src/main/webroot/Web.config
*.config
*.pptx
/instantlogic-netty/src/main/webroot/nbproject/private/