html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.instance-graph {
  position: absolute;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
}

#place {
  position: absolute;
  width: 33%;
  right: 0;
  top:28px;
  bottom: 0;
  overflow: auto;
  background-color: white;
  border-left: solid 2px #FFE999;
  background-color: #FFFAAA;
}

.instance-graph .svg-defs {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.instance-graph .chart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.instance-graph text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.instance-graph .focussed-instance-gradient-from {
  stop-color: rgb(192,32,32);
  stop-opacity: 1; 
}
.instance-graph .focussed-instance-gradient-to {
  stop-color:rgb(128,16,16);
  stop-opacity:1
}

.instance-graph .instance-gradient-from {
  stop-color:rgb(32,32,192);
  stop-opacity:1
}
.instance-graph .instance-gradient-to {
  stop-color:rgb(16,16,128);
  stop-opacity:1
}

.instance-graph .chart > svg {
  width: 100%;
  height: 100%;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
}

.instance-graph .relation {
  stroke: black;
  stroke-width: 1;
  fill: none;
}
.instance-graph .relation.owner {
  stroke-width: 3;
}

.instance-graph .instance {
  fill: #000;
  cursor: move;
}

.instance-graph .instance > .background {
  fill: url(#instance-gradient);
}

.instance-graph .instance.focus > .background {
  fill: url(#focussed-instance-gradient);
}

.instance-graph .instance > g > .button {
  fill: transparent;
  cursor: pointer;
}

.instance-graph .instance > g > .expand-collapse {
  stroke: white;
  stroke-width: 2;
}

.instance-graph .instance > .entity {
  fill: white;
}

.instance-graph .instance > .title {
  fill: white;
  font-style: italic;
}

.instance-graph .instance > .separator {
  stroke: white;
  stroke-width: 1;
}

.instance-graph .attribute > .background {
  fill: #888888;
  cursor: cell;
}

.instance-graph .attribute > .value {
  text-decoration: underline;
}

.instance-graph .attribute.selected > .background {
  fill: none;
}
.instance-graph .attribute.selected > text {
  fill: white;
}

.instance-graph .link {
  stroke: rgb(128,128,128);
  stroke-width: 2;
}

.instance-graph .link.selected {
  stroke: rgb(16,16,192);
}

.instance-graph > .chart > .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.instance-graph > .chart > .overlay > .dialog {
  position: relative;
  width: 400px;
  max-width: calc(100% - 20px);
  margin: 10px auto;
  height: calc(100% - 20px);
  background-color: white;
  box-shadow: 0 0 5px black;
  padding: 10px;
}

.instance-graph .dialog > .close {
  position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.instance-graph .dialog > h1 {
  margin: 0 0 10px 0;
}

.instance-graph .dialog > button {
  margin: 0 0 10px 0;
}

.instance-graph .dialog > textarea {
  width: 100%;
  height: 400px;
}

.instance-graph .dialog > .line {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 80px;
  line-height: 20px;
  color: #AAAAAA;
}

.instance-graph .dialog > .line.instance-visible {
  color: black;
}

.instance-graph .dialog > .line > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  line-height: 16px;
  height: 20px;
  padding: 1px;
}