.designer .inactive-card {border: solid 1px #CCCCCC; border-bottom: 0; margin-bottom: 1px; border-radius: 10px 10px 0 0; color: #666666; padding: 0 9px 9px 9px;margin-left: -180px;padding-left:179px;}
.designer .card {border: solid 1px #999999; border-radius: 10px; padding: 0 9px 9px 9px; overflow:hidden;display:block;position:relative;margin-left: -180px;padding-left:179px;}

/* Element editor */
.element-editor {padding-left:25px;}
.collapsable-content {margin-left: 15px;padding-left:0px;overflow:visible;clear:both;}
.collapse-button {position:absolute;left:-15px;z-index:1;}
.designer .preview-line {width:100%;margin-right:600px;}
.designer .preview-line .preview-container {display:inline-block;width:600px;float:right;line-height:0;}
.designer .preview-line .preview-container iframe {width: 600px;height:20px;overflow:hidden;border:0;}

.designer .editor {border: solid 1px #606060;background-color: #F0FF90;float:right;width:740px;border-radius: 5px;}

