/* Provides a margin at offset2 (180px) and has some simple defaults */
/* Can be used as a base for more specific stylesheets */
.margin .main {padding-top:40px;padding-left:180px;}
.margin .main .input {margin-left:-180px;}

/* Global rules */
.margin .error {color:red;}
.animate-vertically {display:block;overflow:hidden;position:relative;margin-left:-180px;padding-left:180px;}

/* Fragments */
.divtable-column-header {font-weight: bold;color:white;background-color:#444444}
.divtable-cells {display:inline-block;border-bottom: solid 1px black;}
.divtable-cell {display:inline-block; width:180px;height:20px;vertical-align:top; overflow:hidden;white-space:no-wrap;}
