/* Provides a margin at offset2 (180px) and has some simple defaults */
/* Can be used as a base for more specific stylesheets */
.margin .main {padding-top:40px;padding-left:180px;}
.margin .main .input {margin-left:-180px;}
.margin .main .no-margin {padding-left:0px;}

/* Global rules */
.margin .error {color:red;}
.animate-vertically {display:block;overflow:hidden;position:relative;margin-left:-180px;padding-left:180px;}

/* Fragments */
.divtable-header {font-weight: bold;color:white;background-color:#444444;}
.divtable-cells {display:inline-block;border-bottom: solid 1px black;}
.divtable-header, .divtable-cell {display:inline-block; width:180px;height:20px;vertical-align:top; overflow:hidden;white-space:nowrap;}

.designer-editor-open {outline:red dotted thick;outline-offset:-4px}
.controls .designer-editor-open {outline:0}
.btn {margin-right:4px;}
.btn-group .btn {margin-right:auto;}

.controls textarea, .controls input, .controls select {background-color: rgba(255,255,255,0.7);}