.yui3-widget-mask {	background-color: #666666; }

#presence {height:50px;} 

/* Page elements */
.navbar-fixed-top .application-name {color: #EE4444;font-weight:bold;font-size:18px;line-height:20px;}
.navbar-fixed-top .minus {color: #DDDDDD;font-weight:bold;font-style:italic;font-size:18px;line-height:20px;}
.navbar-fixed-top .case-name {color: #DDDDDD;font-weight:bold;font-style:italic;font-size:18px;line-height:20px;}
.navbar-fixed-top .case-name span {line-height:20px;}
.me .avatar {width:23px; height:23px;overflow:hidden;background-color:white;margin-right:5px; }
.me .username {white-space: nowrap; margin:0 5px 0 0;}
.me a {cursor:pointer;}
.show-communicator-button {}
.debug-visible {display:inline-block;margin:0 10px;}
.communicator-space {width:210px;display:inline-block;}
.communicator {width:150px;}
.communicator-userlist {position:fixed;top:0px;right:0px;bottom:0px;width:150px;background-color:#080808;padding-top:50px;padding-left:5px;overflow-x:hidden;overflow-y:auto;}

.communicator-userlist .user {margin: 10px 0;}
.communicator-userlist .avatar {width:23px; height:23px;overflow:hidden;background-color:white;float:left;}
.communicator-userlist .username {margin-left:25px; color:white;}
.communicator-userlist .traveler {margin-left:25px;overflow:hidden;white-space:nowrap;}
.top-right {position:absolute; top:0px;right:0px;}
.navbar-fixed-top .btn {margin-top:0px; }

.focus-bar {position:absolute;z-index: -1000;width:100%; height:58px; background-color:#FDFDFD;background: linear-gradient(to bottom, #FFFFFF 1%,#E0E0E0 50%,#FFFFFF 100%);}
.focus-bar.me {z-index: -999;background-color:#FFFFB0;background: linear-gradient(to bottom, #ffffff 1%,#FFFFAA 50%,#ffffff 100%);}

/*
.focus-bar {position:absolute;z-index: -1000;width:98%; height:78px; background-color:#FFFFF;margin: 0 1%;border-radius:8px;}
.focus-bar.me {z-index: -999;background-color:#f0f6fa;background: linear-gradient(to bottom, #f0f6fa 1%, #f0f6fa 40%, rgba(255,255,255,0) 100%);border-top: solid 1px #cceaff}
*/

.floating-avatar {position:absolute; left:600px; top:4px; background-color:#222222;z-index:11}
.floating-pointer {position:absolute; left:600px; top:2px; width:54px; height:54px; background-color:#222222; z-index:10}
.floating-pointer .arrow-top {position:absolute;left:-10px;top:0px;border-left:solid 10px transparent;border-bottom:solid 27px #222222}
.floating-pointer .arrow-bottom {position:absolute;left:-10px;top:26px;border-left:solid 10px transparent;border-top:solid 26px #222222}

.login {position:fixed; top: 200px; width:100%; }
.login .window {position: relative;margin: 0 auto; width: 400px; background-color: #2E2E2E; color: #FFFFFF; padding: 10px;}

.buttons {width: 100%;margin:5px 0;}

.bookmark {
	position: relative;
	padding: 5px;
	overflow: hidden;
}

.bookmark a {
	display: inline-block;
	white-space: nowrap; 
}

.bookmark-add {
	max-width: 490px;
	overflow: hidden;
}

.bookmark-remove {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	background-color: white;
}

/* Debugger labels */
#presence .fragment-debug {display:none;}
.fragment-debug-holder {position:absolute; display:inline-block; width:8px; height:14px; }
.fragment-debug {position:absolute;display:inline-block; margin-top:-0px;width:8px;height:14px;z-index:9000;color:#FFFFFF;font-size:93%;line-height:11px;}
.fragment-debug .fragment-debug-button {position:absolute;right:0px;top:0px;width:10px;height:14px;background:rgba(255,128,128,0.8); border:solid 1px transparent; border-radius: 0 0 5px 5px; text-align:center;cursor:pointer} 
.fragment-debug .fragment-debug-info-outer {position:absolute;right:0px;top:0px;height:18px;background:rgba(255,128,128,0.8);border:solid 1px #FF0000; border-top-color: #000000; border-radius: 0 0 4px 4px; display:none;}
.fragment-debug .fragment-debug-info {margin:2px 12px 0 3px;}

.fragment-debug.hover, .fragment-debug.openMenu {z-Index:9001}
.fragment-debug.hover .fragment-debug-button, .fragment-debug.openMenu .fragment-debug-button {background:transparent url(../icons/control-double-000-small.png) no-repeat -4px 0px; border: solid 1px transparent; text-indent:-999px;}
.fragment-debug.hover .fragment-debug-info-outer, .fragment-debug.openMenu .fragment-debug-info-outer  {display:block;}

.fragment-debug-menu {position:absolute;width:130px;background-color:#FFFFFF;border:solid 1px black;z-index:10001;box-shadow: 0 2px 2px 2px #AAA;}
.fragment-debug-menu ul, .fragment-debug.hover .fragment-debug-menu li {list-style-type: none;padding:0;margin:0;}
.fragment-debug-menu li a {display:block;width:130px;padding: 3px 2px;}
.fragment-debug-menu li a:hover {background-color:#80A0E0;}

/* Data explorer */
.explore-data-button {position:absolute;top:50px;right:20px;background:rgba(255,128,128,0.8);border:solid 1px #FF0000; border-radius: 5px; 5px 5px 5px; color:#FFFFFF;cursor:pointer;padding:0 4px;}
.breadcrumb-node .breadcrumb-node {position:relative; border-left:solid 15px transparent;}
.shopping {border: solid 1px darkgray; padding:3px; border-radius:3px;white-space:no-wrap;margin:2px 0;}